{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  border:black;

  background-image: linear-gradient(#ffcc88, #ffee88);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.timeline {
  position: relative;
  margin: 20px auto;
  padding: 20px 0;
  width: 80%;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  background-color: #ccc;
}

.timeline-item {
  position: relative;
  margin: 20px 0;
  width: 50%;

  padding: 0;
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 50%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  top: 20px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid #fff;
}

.timeline-item.left::after {
  right: -6px;
}

.timeline-item.right::after {
  left: -6px;
}


.timeline-item .card-btn {
  display: block;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 16px 20px;
  font-size: 14px;
  color: #fff;
  background-color: black;
  text-decoration: none; 
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.timeline-item .card-btn h3 {
  margin: 0 0 6px 0;
  font-size: 18px;
  color: #fff;
}

.timeline-item .card-btn p {
  margin: 0;
  font-size: 14px;
  color: rgba(255,255,255,0.9);
}

.timeline-item .card-btn:hover {
  background-color: #99adc2;
}

